.register.body {
  background-image: url("./img/fibre.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /*width: 100%;*/
  height: 100vh;
  background-color: teal;
  text-align: center;
}

.register.OuterLoginbox {
  border-radius: 25px;
  background-image: url("./img/login.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkolivegreen;
  margin: auto;

  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 3px #2abbcf solid;
  /*
    width: 25%;
  
    top: 25%;
    left: 35%;
    height: 500px;
    */
}
.register.Loginform {
  /*
      width: auto;
      height:auto;
      */
}

.register.formDiv {
  color: #2abbcf;
  /*
    width: auto;
    height:auto;
  
    padding-top: 0;
    margin: auto;
  
    margin-top: 0px;
    */
}
.register.regacc {
  font-size: 20px;
  color: #2abbcf;
}

.register.loginHeader {
  /*
    text-align: center;
    
    margin: 0;
    width: auto;
    height:auto;
    */
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0px;
  margin: 0px;
}

.register.label {
  color: #2abbcf;
  font-size: 25px;
}

.register.inputLogin {
  /*
    padding: 10px;
    */

  border-radius: 10px;
}
.register.logodiv {
  height: fit-content;
  margin: auto;
  padding-top: 15vh;
  padding-bottom: 1vh;
}

.register.form {
  text-align: left;
  color: #2abbcf;
  height: fit-content;
}
.register.submit {
  border: 2px solid #2abbcf;
  color: #2abbcf;
  background-color: #163436;
  height: 50px;
  width: 100%;
  font-size: 25px;
}
.register .submit:hover {
  border: 2px solid #163436;
  color: white;
  background-color: #2abbcf;
  height: 50px;
  width: 100%;
  font-size: 25px;
}
.register.inputLogin {
  padding: 10px;
  border: 2px solid #163436;
  color: #2abbcf;
  background-color: #163436;
}
.register.inputdiv {
  padding-bottom: 20px;
}
